<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		#customers {
		    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}
		
		#customers td, #customers th {
		    border: 1px solid #ddd;
		    padding: 8px;
		}
		
		#customers tr:nth-child(even){background-color: #f2f2f2;}
		
		#customers tr:hover {background-color: #ddd;}
		
		#customers th {
		    padding-top: 12px;
		    padding-bottom: 12px;
		    text-align: left;
		    background-color: #4CAF50;
		    color: white;
		}
	</style>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<script src="http://momentjs.com/downloads/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
	    $(document).ready(function(){
			
	    	$("#birthDate").each( function() {
		    	  
				  var format = "Do MMM YYYY";
				
				  var $this = $( this );
				  var old_date = $.trim($this.text());
				  var new_date = moment(old_date , 'YYYY-MM-DD').format( format );
				
				  $this.text($this.text().replace(old_date, new_date));
			});
	    });
    </script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quest project</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${module == 'home' ? 'active' : ''}">
              <a href="user" th:href="@{/user}">Create</a>
            </li>
            <li th:classappend="${module == 'users' ? 'active' : ''}">
              <a href="users" th:href="@{/users}">List</a>
            </li>
          </ul>       
        </div>
      </div>
      </div>
    <br>
    <br>
    <br>
    <div>
    <table id="customers">
	    <thead>
	        <tr>
	            <th> Id </th>
	            <th> Name </th>
	            <th> PPS </th>
	            <th> Birth </th>
	            <th> Mobile </th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${users.empty}">
	            <td colspan="2"> No records ha been created </td>
	        </tr>
	        
	        <tr th:each="user : ${users}">
	            <td><span th:text="${user.id}"> Id </span></td>
	            <td><span th:text="${user.name}"> Name </span></td>
	            <td><span th:text="${user.ppsNumber}"> PPS </span></td>
	            <td><span id="birthDate" th:text="${user.birthDay}"> Birth </span></td>
	            <td><span th:text="${user.mobilePhone}"> Mobile </span></td>
	        </tr>
	    </tbody>
	</table>
</div>
</body>
</html>